{% extends "base.html" %}

{% block title %}Recipe Change{% endblock title %}

{% block body %}
    <div>   
        User: {{recipe[1]}}<br>
        Name: <input type="text" class="testinput" name="name" value="{{recipe[2]}}" data-group="value"><br>
        ID: <div id="recipeID" data-id="{{recipe[0]}}">{{recipe[0]}}</div><br>
        Amount: {{recipe[3]}}<br>
        recipeCategory:  {{recipeCategory[0]}}<br>
        {% if recipe[4] == userID %}
          <a href="/recipe/change/{{recipe[0]}}">Ändern</a><br>
        {% endif %}
        <br>
        <br>
        <div id="ingredients">
          {% for ingredient in ingredients %}
            <div class="input-group" style="margin-top: 10px;" data-id="{{ingredient[0]}}">
              <span class="input-group-text">{{ingredient[1]}}</span>
              <input class="form-control testinput" type="number" required value="{{ingredient[2]}}" data-group="ingredient" name="weight">
              <select class="form-select testinput" aria-label="Default select example" data-group="ingredient" name="unit">
                {% for unit in units %}
                  {% if unit[0] == ingredient[3] %}
                    <option selected value="{{unit[0]}}">{{unit[1]}}</option>
                  {% else %}
                    <option value="{{unit[0]}}">{{unit[1]}}</option>
                  {% endif %}
                {% endfor %}
              </select>
              <button class="delete">Delete</button>
            </div>
          {% endfor %}
        </div>
        <input type="search" hx-get="/recipe/search"
        hx-trigger="input changed delay:100ms, search"
        hx-target="#ingredients-search" name="search"
        form="fakeForm" placeholder="Suche nach Inhalten">
        <div id="ingredients-search"></div>

        <br>
        <br>
        {% for step in steps %}
          <div>
            Step{{step[0]}}
            Dauer:{{step[2]}} <br>
            Text: {{step[1]}} <br>
          </div>
        {% endfor %}
        <div>
          <input type="text" class="testinput" name="inputTest" data-group="ingredient">
        </div>
        <div>
          <input type="text" class="testinput" name="Lachs" data-group="ingredient">
        </div>
        <input type="text" class="testinput" name="inputTest2" data-group="step">
        <button type="button" class="sendButton">Senden</button>

        <a href="/recipe/show" style="text-decoration: none;">Zurück</a>
    </div><br><br>
    <div id="ingredients-template" hidden>
      <div class="input-group" style="margin-top: 10px;" data-id="">
        <span class="input-group-text">Name</span>
        <input class="form-control testinput" type="number" required data-group="ingredient" name="weight">
        <select class="form-select testinput" aria-label="Default select example" data-group="ingredient" name="unit" required>
          <option value="none">Einheit auswählen</option>
          {% for unit in units %}
              <option value="{{unit[0]}}">{{unit[1]}}</option>
          {% endfor %}
        </select>
        <button class="delete">Delete</button>
      </div>
    </div>
{% endblock body %}

{% block script %}
  <script src="{{ url_for('static', filename='js/changeRecipe.js') }}"></script>  
{% endblock script %}