<!doctype html>
<head>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<meta>
  <title>Create Recipe</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
  <link rel="icon" href="{{ url_for('static', filename='pic/Logo-o-H-1.png') }}">
</meta>

<body>
    <div>   
        User: {{recipe[1]}}<br>
        Name: {{recipe[2]}}<br>
        ID: {{recipe[0]}}<br>
        Amount: {{recipe[3]}}<br>
        recipeCategory:  {{recipeCategory[0]}}<br>
        {% if recipe[0] == userID %}
          <a href="/recipe/change/{{recipe[0]}}">Ändern</a><br>
        {% endif %}

        {% for ingredient in ingredients %}
          Zutat:{{ingredient[0]}} Gewicht {{ingredient[1]}}{{ingredient[2]}}  <br>
        {% endfor %}
        <br>
        {% for step in steps %}
          Step{{step[0]}}
          Dauer:{{step[2]}} <br>
          Text: {{step[1]}} <br>
        {% endfor %}

        <a href="/recipe/show" style="text-decoration: none;">Zurück</a>
    </div><br><br>

  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  
</body>
